.element__name-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  padding: 25px 15px 25px 21px;
  align-items: center;
}